
<div class="form-checkout">

    <h2>Thank you for your order</h2>

    <p>Your order has been processed</p>

    <div class="form-item">
        <a class="btn blue" href="/book/lodging">Back to Shopping</a>
    </div>

</div>


