
<form id="form-checkout-register" class="form-checkout" action="#" method="post">

    <h2>Guest Information</h2>

    <div class="form-item">
        <label for="firstName">First Name</label>
        <input name="firstName" type="text" class="form-control">
    </div>

    <div class="form-item">
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text" class="form-control">
    </div>

    <div class="form-item">
        <label for="emailAddress">Email</label>
        <input name="emailAddress" type="email" class="form-control">
    </div>

    <div class="form-item">
        <input type="submit" class="btn-solid" data-post-url="/inntopia-ajax/actions/attach-customer-to-cart" data-redirect-url="/checkout/payment" value="Payment" />
    </div>


</form>


