
<div id="booking" class="cta">
    <div class="inner">

        <h3>Plan your trip</h3>

        <p>Book your Sun Peaks Resort vacation today with our central reservations team.</p>

        <footer>
            <p class="highlight">Call 1.800.807.3257</p>
            <p>or</p>
            <p><a href="https://www.inntopia.travel/ecomm/Shop/Lodging/593730?_ga=1.267933000.793808166.1474409815" target="_blank" class="btn-solid book-now-{{ nid }}">Book Now</a></p>
        </footer>

    </div>
</div>