
<div id="exchange-rate" class="cta">
    <div class="inner">

        <h3>US Dollar Goes Further</h3>

        <p>US Friends, your dollar goes further here!</p>
        <p class="highlight">$1.00USD = ${{ cad }}CAD*</p>

        <footer>
            <p><a href="http://www.xe.com/currencyconverter/" target="_blank" class="btn-solid">View Exchange Rate</a></p>
            <p class="mice-type">* Exchange rate fluctuates daily</p>
        </footer>

    </div>
</div>