
<div id="tickets" class="cta">
    <div class="inner">

        <h3>Online Tickets</h3>

        <p>Buy online in advance for big savings on lift tickets!</p>

        <footer>
            <p><a href="http://sunpeaksresort.ltibooking.com/" target="_blank" class="btn-solid visit-our-store-{{ nid }}">Visit our Store</a></p>
        </footer>

    </div>
</div>