
<div id="map-container">


    <div id="interactive-map">

        <div class="loading"></div>

    </div>

    <a href="#" class="toggle-categories">Filter</a>

    <div id="categories">
        <div class="wrapper">
            <form id="filters">

            </form>
            <a href="#" class="btn filter">Filter</a>
        </div>
    </div>


</div>