
<div id="newsletter">
    <div class="inner">

        <h3>
            {% if season == 'winter' %}
                Snow reports, deals, events and Sun Peaks news
            {% else %}
                Events, Deals, Sun Peaks News and Snow Reports
            {% endif %}
        </h3>

        <p>In your inbox:</p>

        <a href="/newsletter" class="btn-solid">Sign Me Up</a>

        <p>In your social feed:</p>

        <div class="social-icons">
            <a href="https://www.facebook.com/SunPeaksResort" target="_blank" class="facebook"><span>Facebook</span></a>
            <a href="https://www.instagram.com/sunpeaksresort/" target="_blank" class="instagram"><span>Instagram</span></a>
            <a href="https://twitter.com/SunPeaksResort" target="_blank" class="twitter"><span>Twitter</span></a>
            <a href="https://www.youtube.com/user/SunPeaksResortTV" target="_blank" class="youtube"><span>YouTube</span></a>
            <a href="https://vimeo.com/sunpeaksresort" target="_blank" class="vimeo"><span>Vimeo</span></a>
            <a href="https://www.tripadvisor.ca/Tourism-g499150-Sun_Peaks_British_Columbia-Vacations.html" target="_blank" class="tripadvisor"><span>Trip Advisor</span></a>
        </div>

    </div>
</div>