
<div id="winter-season-pass" class="cta">
    <div class="inner">

        <h3>Winter Passes</h3>

        <p>Get your winter season pass or multi-day Peaks Card online today!</p>

        <footer>
            <p><a href="https://sunpeaksresort.ltibooking.com" target="_blank" class="btn-solid buy-now-{{ nid }}">Buy Now</a></p>
        </footer>

    </div>
</div>