
<div id="summer-season-pass" class="cta">
    <div class="inner">

        <h3>Summer Passes</h3>

        <p>Get your summer season pass or multi-day Peaks Card online now for golf, bike, or hike.</p>

        <footer>
            <p><a href="https://sunpeaksresort.ltibooking.com" target="_blank" class="btn-solid buy-now-{{ nid }}">Buy Now</a></p>
        </footer>

    </div>
</div>