
{% if settings.field_show_alert == "1" and settings.field_alert_text|render %}

    <div id="alertbar" data-cookie="{{ uniqueString(settings.field_alert_text|machine) }}">

        <div class="container">

            <div class="table">
                <div class="inner">
                    {% if settings.field_alert_link|render %}<a class="link" href="{{ settings.field_alert_link[0]['#url'] }}"> {% endif %}

                    {% if settings.field_alert_text %}{{ settings.field_alert_text }} {% endif %}

                    {% if settings.field_alert_link|render %}</a> {% endif %}
                </div>
            </div>

            <a class="close" href="#"></a>

        </div>

    </div>

{% endif %}