#inntopia-nav{

    background: #FFF;

    ul {
        margin: 0;
        padding: 0;
        li {
            padding: 0;
            a {
                color: $green;
                background: $blue-light;
                font-family: $base-font-family;
                font-weight: 900;
                &:hover { color: $blue; }
                &.active { color: $blue; }
            }
        }
    }

}



.inntopia-filters {
    form input[type="text"], form select { background: #FFF; }
    .fs-dropdown.fs-light .fs-dropdown-selected {  background: #FFF; }
}



.path-book, .path-checkout {
    #sidebar {
        display: block;
    }

}

.inntopia-cart{

    h3 {
        position: relative; color: $green; background-color: $blue-light;  text-align: center;
        .title { display: inline-block; padding-left: 35px; }
        .icon {
            @include fonticon( "\e934", 24px, $green );
            display: inline-block; position: absolute; width: 30px; height: 30px; top: 50%; margin-top: -12px;
            &:before { position: static; }

            &.icon-lodging:before { content: "\e934" }
            &.icon-activities:before { content: "\e939" }
        }
    }


    h4 .btn-remove-cart {
        .icomoon{ color: $green; @include transition; }
        &:hover .icomoon{ color: $blue; }
    }


}


#header .utility .cart {

    position: relative;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    text-decoration: none;

    .icomoon { color: #FFF; font-size: 24px;  @include transition; }
    .number {
        position: absolute;
        top: 15px;
        left: 12px;
        @include circle(12px,$green );
        color: #fff;
        font-size: 8px;
        text-align: center;
        &.empty { display: none; }
    }

    &:hover,
    &:focus{
        .icomoon { color:$green; }
    }

    &:before{
        @include pseudo;
        background:rgba(#fff,0.3); width:1px; height:25px; top:2px; left:0; right:auto;
    }

}

.inntopia-teaser{

    h2 {
        margin-bottom: 15px;
        a:hover { color: $green; }
    }

    .cta {
        & > a {
            @include fonticon('\e905',15px,$blue,50%,auto,10px);
            &:before { @include transition; right: -40px; }
            &:hover:before { right: -30px; }
        }

    }
}

.inn-address .icomoon { color: $blue; }
.inn-price {
    .label, .price {
        color: $yellow;
    }
}

.inn-addcart {
    &:hover { color: $green; }
}

ul.inn-amenities{

    margin-left: 0;
    @include clearfix;
    li{ float: left; width: 50%; margin: 0; }
}

.inntopia-detail {

    .informations{
        .info-detail { margin-top: 60px; }
        #single-data-map{ padding-bottom: 70%;}
        .value_geodata { display: none; }
    }

}

.inntopia-add-filters {

    .add-filters-header {
        background: #DEF9FC;
        color: $blue;
        font-size: 14px;
        font-weight: 900;
    }

    .filterItem {
        margin: 5px 0;
        .icomoon { color: $blue; }
        font-weight: 900;
    }

}

#inntopia-progress{

    .checkout-step {

        &.active-step {
            .icon, .checkout-step-name { color: $green; }
        }

    }

}


.block-inntopia-check-block {  background: $blue-bg-light; }
.inntopia-home-block {

    transform: translateY(-80px);

    .inntopia-tab {
        display: none;
        &.active { display: block; }
    }

    .form-container{
        padding: 40px 100px 0 100px;

        .form{

            @include clearfix;

            .form-item, .form-actions  {
                float: left;
                width: 20%;
                margin: 0;
                padding: 0 15px;
            }

            .form-actions {
                text-align: right;
                padding-top: 27px;
            }

            input[type="text"] { background: #FFF; }
        }



    }




}



.infoBox{

    h2{ font-family: $base-font-family; }

    .ib-content{
        .cta {
            font-family: $base-font-family;
        }
    }
}
