{% set ajax_url = "/inntopia-ajax/display/listing-lodging" %}

{% include '@inntopia/lodging/filters.html.twig' %}

<div id="ajaxContainer">

    <div class="ajaxContent" data-ajax-url="{{ ajax_url }}">

    </div>

</div>




