{% set ajax_url = "/inntopia-ajax/display/listing-lodging" %}

<div class="inn-head-listing">

    <div class="head-listing-title">
        <h5><span class="counter"></span> <span class="copy">looking for places to stay</span></h5>
    </div>

    <div class="form-item inntopia-view">
        <label for="adultCount">View By</label>
        <div class="toggles">
            <a href="#" class="toggleBtn active" data-select-item="result-list"><span class="icomoon icon-listing"></span><span class="name">List</span></a>
            <a href="#" class="toggleBtn" data-select-item="result-map"><span class="icomoon icon-pin"></span><span class="name">Map</span></a>
        </div>

    </div>

    <div class="form-item inntopia-sort not-related-result-map">
        <label for="adultCount">Sort By</label>
        <select id="sorting" name="sorting" class="input-mini input-select">
            <option value="original-order">Default</option>
            <option value="price">Lowest to Highest Price</option>
            <option value="name">Alphabetically</option>
        </select>
    </div>


</div>


<div class="ajaxContainer">

    <div class="ajaxContent" data-ajax-url="{{ ajax_url }}">

    </div>

</div>




