<div id="inntopia-lodging-filters" class="inntopia-filters">

    <form class="form" action="/book/lodging" method="GET">

        <div class="form-item">
            <label for="arrivalDate">Arrival</label>
            <div class="wrap-picker">
                <input type="text" id="arrivalDate" name="arrivalDate" class="input-small" value="{{ data.filters.arrivalDate }}">
            </div>
        </div>

        <div class="form-item">
            <label for="departureDate">Departure</label>
            <div class="wrap-picker">
                <input type="text" id="departureDate" name="departureDate" class="input-small" value="{{ data.filters.departureDate }}">
            </div>
        </div>

        <div class="form-item-container form-item-double">

            <div class="form-item form-type-numeric">
                <label for="adultCount">Adults</label>
                <input type="text" id="adultCount" name="adultCount" class="input-small" value="{{ data.filters.adultCount }}">
                <div class="incrementor">
                    <div class="wrapper">
                        <div class="increment minus">-</div>
                        <div class="increment plus">+</div>
                    </div>
                </div>
            </div>

            <div class="form-item form-type-numeric">
                <label for="childrenCount">Children</label>
                <input type="text" id="childrenCount" name="childrenCount" class="input-small" value="{{ data.filters.childrenCount }}">
                <div class="incrementor">
                    <div class="wrapper">
                        <div class="increment minus">-</div>
                        <div class="increment plus">+</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-actions">
            <input type="submit" value="Check Availability">
        </div>

    </form>

</div>


{% if data.args[1] == 'lodging' %}

<div class="inntopia-add-filters">
    <div class="add-filters-header">Lodging Type</div>
    <div class="add-filters-body">

        <div class="button-group" data-filter-group="lodging">

            <div class="filterItem" data-filter="hotel">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">Hotel</span><span class="filter-count"></span>
                </div>
            </div>

            <div class="filterItem" data-filter="condo">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">Condo</span><span class="filter-count"></span>
                </div>
            </div>

            <div class="filterItem" data-filter="townhouse">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">Townhouse</span><span class="filter-count"></span>
                </div>
            </div>

            <div class="filterItem" data-filter="vacationhome">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">Vacation Home</span><span class="filter-count"></span>
                </div>
            </div>

            <div class="filterItem" data-filter="bedbreakfast">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">Bed &amp; Breakfast</span><span class="filter-count"></span>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="inntopia-add-filters">
    <div class="add-filters-header">Bedrooms</div>
    <div class="add-filters-body">

        <div class="button-group" data-filter-group="bedroom">

            <div class="filterItem" data-filter="1">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">1 Bedroom</span><span class="filter-count"></span>
                </div>
            </div>

            <div class="filterItem" data-filter="2">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">2 Bedrooms</span><span class="filter-count"></span>
                </div>
            </div>

            <div class="filterItem" data-filter="3">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">3 Bedrooms</span><span class="filter-count"></span>
                </div>
            </div>

            <div class="filterItem" data-filter="4">
                <span class="icomoon icon-radio_check"></span>
                <span class="icomoon icon-radio_uncheck"></span>
                <div class="label-filter">
                    <span class="label-name-filter">4 Bedrooms</span><span class="filter-count"></span>
                </div>
            </div>

        </div>

    </div>
</div>


{% endif %}
