<div id="quickCart">

    <div class="wrapper">

        <h2>Your Cart</h2>


        <div class="ajaxContainer">

            <div class="ajaxContent" data-ajax-url="/inntopia-ajax/display/display-quickcart">

            </div>

        </div>


        <a class="close" href="#">Close</a>

    </div>



</div>