
$th-background: rgba($grey-dark,0.5);


table {
  @include fontsize(14);
  border-collapse: collapse;
  width: 100%;
}

.scroll-indicator{
  @include fonticon('\e908',10px,$grey-dark,3px,auto,0);
  padding-right:15px; top:-5px;
}

.template.table{
  overflow-x:auto; padding-bottom:10px;

  @include media($medium-screen){
    padding-bottom:0;
  }

  table + p,
  p.footer{
    @include fontsize(10);
    margin:0; padding:20px 0; border-bottom:$base-border;

    @include media($tablet-portrait){
      @include sidePadding(25px,25px);
    }
    @include media($large-screen){
      @include sidePadding(50px,50px);
    }
  }
}

caption, .table-caption{
  color: #505865; font-size: 1.7rem; font-weight: 900; line-height: 1; margin: 0 0 25px; text-transform: uppercase; text-align:left;

  @include media($medium-screen){
    @include headingLine;
  }
}

.table-caption{
  ackground: none; font-style: normal;
}

th{
  font-weight:300;
}

tr,
td,
th {
  vertical-align: top; border:none;
}

th,
td{
  padding:10px 15px; text-align:left; width:15%;
}

thead{
  th{
    @include fontsize(12);
    color:#fff; background:$th-background;

    .template.pricing &{
      text-align:center;
      &:first-child{
        text-align:left;
      }
    }
  }
}

tbody{
  .template.pricing & td{
    font-weight:500; text-align:center;
  }
  .template.table:not(.simple) & tr:nth-child(even){
    background:$grey-bg;
  }
  .template.table.simple & {
    tr:nth-child(odd){
      background:$grey-bg;
    }
    th{
      width:35%;
    }
    td{
      width:65%;
    }
  }
}



.accordions{

  .accordion {

    border-bottom: $base-border;

    .accordion-header{

      cursor: pointer;
      padding: 50px 0;
      position: relative;
      @include fonticon('\e905',15px,$blue,50%, 0, auto);

      &:before { margin-top: -8px; }

      h2 { padding-left: 40px; margin-bottom: 0;}
      .push-right { position: absolute; right: 0; top: 50%; transform: translateY(-50%); display: inline-block; }

    }

    .accordion-content {
      display: block;
      max-height: 0;
      overflow: hidden;
      @include transition;
      &.open { height: auto; max-height: 500px; }
    }

  }

}
