<div id="inntopia-nav">

    <div class="wrapper">

        <ul class="clearfix">
            <li><a href="/book/lodging" class="{% if data.section == 'lodging' %}active{% endif %}"><span class="icomoon icon-lodging"></span><span class="name">Lodging</span></a></li>
            <li><a href="/book/activities" class="{% if data.section == 'lift-tickets' %}active{% endif %}"><span class="icomoon icon-ticket"></span><span class="name">Lift Tickets</span></a></li>
            <li><a href="/book/activities" class="{% if data.section == 'activities' %}active{% endif %}"><span class="icomoon icon-activities"></span><span class="name">Activities</span></a></li>
        </ul>

    </div>

</div>




