<div id="inntopia-nav">

    <div class="wrapper">

        <ul class="clearfix">
            <li><a href="/book/lodging" class="{% if data.section == 'lodging' %}active{% endif %}"><i class="material-icons">local_hotel</i><span>Lodging</span></a></li>
            <li><a href="/book/activities" class="{% if data.section == 'lift-tickets' %}active{% endif %}"><i class="material-icons">landscape</i><span>Lift Tickets</span></a></li>
            <li><a href="/book/activities" class="{% if data.section == 'activities' %}active{% endif %}"><i class="material-icons">directions_run</i><span>Activities</span></a></li>
        </ul>

    </div>

</div>




