body.noscroll{
    overflow: hidden;
}


#pageContainer{
    position: absolute;
    height: 100%;
    width: 100%;
}

#header, #pageContainer {
    @include transition;
    left: 0;
    right: 0;
    &.slided{
        //transform: translateX(-320px);
        left: - $quick-cart-width;
        right: $quick-cart-width;
    }
}

.ajaxContainer { min-height: 1000px; }


#quickCart {

    position: fixed;
    width: $quick-cart-width;
    height: 100%;
    top: 0;
    right: -$quick-cart-width;
    background: #FFF;
    z-index: 100;
    overflow-y: scroll;
    @include transition;

    .loading {
        background: none;
        .cart {
            position: relative;
            &:after {
                content: "\020";
                display: block;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                min-height: 150px;
                z-index: 100;
                background-image: url(../misc/images/loading.svg);
                background-color: rgba(255, 255, 255, 0.8);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &.slided {
        right: 0;
    }

    & > .wrapper {
        position: relative;
        margin: 50px 30px;
    }

    a.close {
        &, &:before {
            color: #9BA0A7;
        }
        &:hover, &:hover:before {
            color: #333;
        }
    }

}

#sidebar .inntopia-cart { padding: 40px 20px; }

.inntopia-cart{

    .container{
        border-top: 1px solid #D3D5D8;
    }

    h3 {
        padding: 20px;
        background: #eee;
        text-align: center;
        font-weight: 900;
    }

    h4 {
        position: relative;
        color: #505865;
        font-weight: normal;
        padding-right: 40px;
        @include clearfix;
        .btn-remove-cart {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            top: 0;
            .icomoon{ color: #9BA0A7; font-size: 18px; }
            &:hover .icomoon{ color: #333333; }

        }
    }

    .cart-item {
        & > .wrapper { padding: 15px; }
        border-bottom: 1px solid #D3D5D8;
        &.total{ border: 0; }
    }

    .cart-item:last-child { border-bottom: 0; }

    .cart-item-info { margin-top: 10px; }
    .row{
        @include clearfix;
        margin: 0;
        padding: 3px 0;
        .cell{ float: left; width: 50%;}
        .value { font-weight: 700; }
        &:not(:last-child){ margin: 0; }
    }


    .checkout-zone{
        margin-top: 30px;
        text-align: center;
    }


}

#inntopia-nav{

    background: #EEE;

    ul {
        li {
            float: left;
            width: calc(100%  /3);
            margin: 0;
            list-style: none;
            a {
                display: block;
                position: relative;
                font-size: 20px;
                padding: 25px;
                color: #CCC;
                text-align: center;
                text-transform: uppercase;
                font-family: Sans-Serif;
                text-decoration: none;
                opacity: 0.8;
                @include transition;
                &:hover { color: #333; opacity: 1;}
                &.active { color: #333; opacity: 1; }
                .icomoon {
                    position: absolute;
                    top: 20px;
                    display: inline-block;
                    font-size: 36px;
                }
                .name { display: inline-block; padding-left: 55px; }
            }
        }
    }

}

.inntopia-filters {
    margin: 40px;

}

.inntopia-add-filters {

    margin-bottom: 20px;

    .add-filters-header {
        background: rgba(0,0,0,0.1);
        color: #333;
        text-transform: uppercase;
        padding: 15px 40px;
    }

    .add-filters-body{
        margin: 15px 40px;
    }

    .filterItem {
        cursor: pointer;
        @include clearfix;
        .icomoon { float: left; font-size: 24px; }
        .icon-radio_check { display: none; }
        .icon-radio_uncheck { display: inline-block; }
        &.active {
            .icon-radio_check { display: inline-block; }
            .icon-radio_uncheck { display: none; }
        }
        .label-filter { display: inline-block; padding: 3px 5px; }
    }

}



#ajaxContainer {
    margin-top: 60px;
}


.inn-address{
    margin-top: 5px;
    .icomoon { display: inline-block; font-size: 24px; float: left; margin-right: 5px; }
    span { display: inline-block; line-height: 30px; }
}

.inn-price{

    display: inline-block;
    position: relative;

    .label { position: absolute; display: block; font-size: 14px;  line-height: 1; }
    .price { display: inline-block; font-size: 50px; line-height: 1; font-weight: 500; text-align: left; margin: 0; padding-top: 0;}
    .top-label { left: 0; top: -18px;  }
    .bottom-label { right: 0; bottom: -15px; }
    .right-label { display: inline-block; position: static; }
}


.inn-addcart {
    @include transition;
    .icomoon { display: inline-block; font-size: 24px; float: right;}
    span { display: inline-block; line-height: 30px; margin-right: 5px; }
    &:hover { color: #333; }
}


.inn-head-listing{

    @include clearfix;

    .head-listing-title {
        float: left;
        display: inline-block;
        h5 { display: inline-block; margin-top: 40px; }
    }

    .inntopia-sort{ float: right; width: 260px; margin-top: 0; }

}

.inntopia-teaser{

    width: 100%;

    & > .wrapper {  margin: 40px 0 0 0; padding: 40px 0 0 0; border-top: 1px solid #D3D5D8; @include clearfix; }

    .zone-image {
        float: left;
        width: 35%;
    }

    .zone-copy {
        float: left;
        width: 65%;

        & > .wrapper { padding: 40px; @include clearfix; }

        .info { float: left; width: 60%; }
        .cta { float: left; width: 40%; }
    }

    .cta{
        text-align: right;
        padding-top: 100px;
    }


    .slick-arrow{
        padding: 5px;
        &:before { font-size: 20px; line-height: 20px;width: 20px; height: 20px; }
        &.slick-next { right: 5px; }
        &.slick-prev { left: 5px; }
    }

    .slick-dots {
        bottom: 10px;
        li { margin: 0 5px 0 0; }
        li button { background: rgba(255,255,255,0.25); }
        li.slick-active button { background: rgba(255,255,255,0.75); }
    }

    .slick-dotted.slick-slider { margin-bottom: 0; }

}




.inntopia-detail {

    .top-detail, .room-detail, .info-detail {
        @include clearfix;
        .zone-copy{
            float: left; width: 50%;
            padding-right: 40px;
        }
        .zone-image{
            float: left; width: 50%;
        }
    }

    .rooms { margin-top: 60px; }
    .informations { margin-top: 100px; }

    table.detail-price {

        margin: 20px 0 60px 0;
        tbody {
            tr { border-bottom: 1px solid rgba(80,88,101,0.25); }
            tr:nth-child(odd) { background: #edeef0; }
            td, th { vertical-align: middle; padding: 15px; }
            th { width: 50%; }
            td { text-align: right; width: auto; }
            h5 { margin-bottom: 0; }

        }

        .form-type-numeric { width: 100px; float: right; }
    }

}

// Widget
.form-inntopia-widget {

    @include clearfix;
    .datepicker-wrap { float: left; display: inline-block; width: 150px; }
    .form-submit { float: left; display: inline-block; }

}



#inntopia-progress {

    padding-bottom: 40px;
    border-bottom: 1px solid #D3D5D8;

    & > .wrapper {
        position: relative;
        @include clearfix;
        margin: 0 auto;
        max-width: 900px;

        &:before { content: "\020"; display: block; position: absolute; width: 70%; height: 1px; background: #D3D5D8; bottom: 20px; left: 15%;  z-index: 1; }
    }

    .checkout-step {
        float: left; width: 25%; text-align: center;
        .icon { display: block; font-size: 42px; color: #9DA2A9; }
        .checkout-step-name { position: relative; display: inline-block; font-size: 12px; text-transform: uppercase; font-weight: 500; color: #9DA2A9; background: #fff; padding: 10px 25px; z-index: 10; }
        &.active-step {
            .icon, .checkout-step-name { color: #333; }
        }

    }

}

.form-checkout {

    margin: 60px auto;
    max-width: 760px;

    h2{ margin-bottom: 40px;}

    input[type='submit']{
        margin-top: 20px;
        &:hover{ opacity: 0.8;
        }

    }

}

